<header class="navbar navbar-fixed-top navbar-inverse">
  <%= link_to "勉強時間記録アプリ", root_path, id: "logo", class: 'navbar-brand' %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'ホーム', root_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'ユーザーページ', user_path(@current_user) %></li>
      <% end %>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    </ul>
  </nav>
  <% javascript_include_tag('pomo') %>
</header>
