<% if user_signed_in? %>
  現在、<%= @user.nickname %>としてログインしています。
  <p>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  </p>
<% end %>
<% if notice %>
  <p class="notice">
    <%= notice %>
  </p>
<% elsif alert %>
  <p class="alert">
    <%= alert %>
  </p>
<% end %>